/* =======================================
   RESET
======================================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg:#f6faf6;
    --section:#37422b;
    --section-alt:#f4ece7;

    --primary:#f3f3ef;
    --primary-dark:#4b7550;
    --primary-light:#b9d7bc;

    --text:#f3f3ef;
    --text-light:#d6ddd3;
    --line:#73846b;
}

@font-face {
    font-family: "Miama";
    src: url("../fonts/MiamaNueva.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {

    font-family: 'Montserrat', sans-serif;

    color: #444;

    background:var(--bg);

    line-height: 1.8;

    overflow-x: hidden;
	padding-top:80px;
}

/* =======================================
   CONTAINER
======================================= */

.container {

    width: 90%;

    max-width: 1200px;

    margin: auto;

}

/* =======================================
   TYPOGRAPHY
======================================= */

h1,
h2,
h3 {

    font-family: 'Cormorant Garamond', serif;

    font-weight: 600;

}

h1 {

    font-size: 72px;

    letter-spacing: 4px;

}

h2 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 15px;
}

h3 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

.section-text {
    text-align: center;
    max-width: 700px;
    margin: auto auto 40px;
}

.title{
    font-family: "Miama", cursive;
    font-size: 80px;
    color: #49535c;
    text-align: center;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: normal;
}

.title span{
	display:block;
	margin:12px 0;
}

/* =======================================
   DIVIDER
======================================= */

.divider {

    width: 80px;

    height: 2px;

    background:var(--primary-light);

    margin: 20px auto 50px;

}

/* =======================================
   BUTTON
======================================= */

.btn {

    display: inline-block;

    padding: 18px 45px;

    background:var(--primary);

    color: white;

    text-decoration: none;

    border-radius: 50px;

    transition: .35s;

    border: none;

    cursor: pointer;

    font-size: 16px;

}

.btn:hover {

    background:var(--primary-dark);

    transform: translateY(-3px);

}

/* =======================================
   HEADER
======================================= */

/* ===========================
   HEADER
=========================== */

.header{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    background:rgba(255,255,255,.92);

    backdrop-filter:blur(12px);

    z-index:1000;

    box-shadow:0 4px 20px rgba(0,0,0,.05);

}

.header-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:80px;

}

.logo{

    font-size:32px;

    text-decoration:none;

    color:#444;

    font-family:'Cormorant Garamond',serif;

}

.nav-list{

    display:flex;

    gap:35px;

    list-style:none;

}

.nav-list a{

    color:#444;

    text-decoration:none;

    transition:.3s;

}

.nav-list a:hover{

    background:var(--primary);

}

/* ===========================
   BURGER
=========================== */

.burger{

    display:none;

    width:40px;

    height:40px;

    border:none;

    background:none;

    cursor:pointer;

    position:relative;

    z-index:1200;

}

.burger span{

    position:absolute;

    left:6px;

    width:28px;

    height:3px;

    background:#444;

    transition:.35s;

}

.burger span:nth-child(1){

    top:10px;

}

.burger span:nth-child(2){

    top:18px;

}

.burger span:nth-child(3){

    top:26px;

}

/* Анимация */

.burger.active span:nth-child(1){

    transform:rotate(45deg);

    top:18px;

}

.burger.active span:nth-child(2){

    opacity:0;

}

.burger.active span:nth-child(3){

    transform:rotate(-45deg);

    top:18px;

}

/* ===========================
   OVERLAY
=========================== */

.overlay{

    position: absolute;

    inset:0;

    background: rgba(0,0,0,.35);

    opacity:0;

    visibility:hidden;

    transition:.3s;

    z-index:900;

}

.overlay.show{

    opacity:1;

    visibility:visible;

}

/* =======================================
   HERO
======================================= */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    background:var(--section);
}

.hero-wrapper{
    display:flex;
    flex-direction:column;
    gap:50px;
}

.hero-text{
    width:100%;
	margin-bottom: 45px;
}

.subtitle{
    text-align:center;
    font-size:22px;
    letter-spacing:4px;
    text-transform:uppercase;
    margin-bottom:15px;
}

.hero-date{
    text-align:center;
    font-size:34px;
    margin-bottom:50px;
    color:#d6ddd3;
}

.hero-bottom{
    display:grid;
    grid-template-columns:1fr 420px;
    gap:80px;
    align-items:center;

}

.hero-content {
    position: relative;
    z-index: 10;
    color: white;
    max-width: 800px;
}

.hero-image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-image img{
    width:100%;
    max-width:420px;
}

.hero-names{
    text-align:left;
}

.hero-names .title{
    margin:0;
    font-size:72px;
    line-height:1.1;
}

.hero h1 {
    margin-bottom: 20px;
}

.hero span {
    color: #f0d2b3;
}

.date {
    font-size: 28px;
    margin-bottom: 25px;
}

/* =======================================
   ОБЩИЕ СЕКЦИИ
======================================= */

section {
    padding: 110px 0;
}

.about {
    background:var(--section);
}

.about p {
    max-width: 800px;
    margin: 0 auto 25px;
    text-align: center;
    font-size: 19px;
}

/* =======================================
   ТАЙМЕР
======================================= */

.countdown {
    background: var(--section-alt);
    text-align: center;
}

.timer {
    display: grid;
	grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 40px;
}

.timer .item {
    width: 160px;
    height: 160px;
    background: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 40px rgba(0,0,0,.08);
    transition: .3s;
}

.timer .item:hover {

    transform: translateY(-8px);

}

.timer span {

    font-size: 60px;

    font-weight: 600;

    color: var(--primary);

}

.timer small {

    margin-top: 10px;

    font-size: 16px;

    letter-spacing: 2px;

    text-transform: uppercase;

}

/* =======================================
   МЕСТО ПРОВЕДЕНИЯ
======================================= */

.location {

    background:var(--section);

}

.location-card {

    max-width: 900px;

    margin: auto;

    background: var(--section-alt);

    border-radius: 24px;

    padding: 50px;

    text-align: center;

    box-shadow: 0 20px 50px rgba(0,0,0,.08);

}

.location-card h3 {

    margin-bottom: 20px;

}

.location-card p {

    margin-bottom: 25px;

    color: #666;

}

.map {

    overflow: hidden;

    border-radius: 18px;

    margin-bottom: 40px;

}

.map iframe {

    width: 100%;

    height: 260px;

    border: none;

}

/* =======================================
   ПРОГРАММА ДНЯ
======================================= */

.schedule {
    background:var(--section-alt);
}

.timeline {

    position: relative;

    max-width: 900px;

    margin: auto;

    padding-left: 60px;

}

.timeline::before {

    content: "";

    position: absolute;

    left: 22px;

    top: 0;

    bottom: 0;

    width: 2px;

   background:var(--line);

}

.timeline-item {

    position: relative;

    display: flex;

    gap: 40px;

    margin-bottom: 50px;

}

.timeline-item:last-child {

    margin-bottom: 0;

}

.timeline-item::before {

    content: "";

    position: absolute;

    left: -49px;

    top: 12px;

    width: 18px;

    height: 18px;

    background:var(--primary);

    border: 4px solid #fff;

    border-radius: 50%;

    box-shadow: 0 0 0 4px var(--line);

}

@media(max-width:768px){

.timeline{

    padding-left:25px;

}

.timeline-item{

    display:block;

    margin-bottom:35px;

}

.time{

    margin-bottom:10px;

}

.event{

    padding:20px;

}

}

.time {

    min-width: 100px;

    font-size: 26px;

    font-weight: 600;

    color: var(--primary);

}

.event {

    flex: 1;

    background: white;

    padding: 28px;

    border-radius: 18px;

    box-shadow: 0 10px 30px rgba(0,0,0,.05);

}

.event h3 {

    margin-bottom: 10px;

}

.event p {

    color: #666;

}

/* =======================================
   ПЛАВНОЕ ПОЯВЛЕНИЕ
======================================= */

.about,
.countdown,
.location,
.schedule {
    animation: fadeUp .8s ease both;
}

@keyframes fadeUp {

    from {

        opacity: 0;

        transform: translateY(40px);

    }

    to {

        opacity: 1;

        transform: translateY(0);

    }

}

/* =======================================
   ДРЕСС-КОД
======================================= */

.dresscode {

    background:var(--section);

}

.palette {

    display: flex;

    justify-content: center;

    gap: 12px;

    flex-wrap: wrap;

    margin: 50px 0;

}

.color {

    width: 55px;

    height: 55px;

    border-radius: 50%;

    box-shadow: 0 10px 25px rgba(0,0,0,.08);

    transition: .3s;

}

.color:hover {

    transform: scale(1.15);

}

.note {

    text-align: center;

    color: #666;

    max-width: 700px;

    margin: auto;

}

/* =======================================
   ПОДАРКИ
======================================= */

.gifts {

    background:var(--section-alt);

}

.gifts p {

    max-width: 760px;

    margin: 20px auto;

    text-align: center;

}

/* =======================================
   RSVP
======================================= */

.rsvp {

    background:var(--section);

}

#rsvpForm {

    max-width: 700px;

    margin: auto;
	
	width: 100%;

}

.form-group {

    margin-bottom: 28px;

}

.form-group label {

    display: block;

    margin-bottom: 10px;

    font-weight: 500;

}

.form-group input,
.form-group select,
.form-group textarea {

    width: 100%;

    padding: 16px 18px;

    border: 1px solid #ddd;

    border-radius: 14px;

    font-size: 16px;

    font-family: inherit;

    transition: .3s;

}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {

    outline: none;

    border-color: var(--primary);;

    box-shadow: 0 0 0 4px rgba(181,138,106,.15);

}

textarea {

    resize: vertical;

    min-height: 140px;

}

#rsvpForm .btn {

    width: 100%;

}

/* =======================================
   КОНТАКТЫ
======================================= */

.contacts {

    background:var(--section-alt);

}

.contacts-grid {

    display: grid;

    grid-template-columns: 1fr;

    gap: 35px;

    margin-top: 50px;

}

.contact-card {

    background: white;

    padding: 25px;

    text-align: center;

    border-radius: 20px;

    box-shadow: 0 15px 35px rgba(0,0,0,.06);

}

.contact-card a {

    display: inline-block;

    margin-top: 15px;

    color: var(--primary);

    text-decoration: none;

}

/* =======================================
   FOOTER
======================================= */

footer {

    background: #2f2f2f;

    color: white;

    text-align: center;

    padding: 70px 0;

}

footer h2 {

    color: white;

    margin-bottom: 20px;

}

footer p {

    color: rgba(255,255,255,.8);

}

.copyright {

    margin-top: 30px;

    font-size: 14px;

}

/* =======================================
   КНОПКА "НАВЕРХ"
======================================= */

#toTop {

    position: fixed;

    right: 15px;

    bottom: 15px;

    width: 45px;

    height: 45px;

    border: none;

    border-radius: 50%;

    background:var(--primary);

    color: white;

    font-size: 24px;

    cursor: pointer;

    box-shadow: 0 10px 25px rgba(0,0,0,.25);

    transition: .3s;

}

#toTop:hover {

    transform: translateY(-5px);

    background: #9d7458;

}

.hidden{

    opacity:0;

    transform:translateY(80px);

    transition:1s;

}

.show{

    opacity:1;

    transform:translateY(0);

}

header{

    transition:.3s;

}

header.scrolled{

    background:white;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

/* =======================================
   DESCTOP
======================================= */

@media(min-width: 769px) {
	
	.overlay{
    display:none;
	}

	.nav{
		position:static;
		width:auto;
		height:auto;
		background:none;
		box-shadow:none;
	}

}

/* =======================================
   MOBILE
======================================= */

@media(max-width: 768px) {

    header {
        position: fixed;
        padding: 10px 0;
    }

    .logo {
        font-size: 22px;
    }
	
	.burger{
    display:block;
	}

	.nav{
		position:fixed;
		top:0;
		right:-320px;
		width:300px;
		height:100vh;
		background:white;
		transition:.35s;
		box-shadow:-10px 0 30px rgba(0,0,0,.15);
		z-index:1100;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.nav.show{

		right:0;

	}

	.nav-list{

		flex-direction:column;

		gap:30px;

		text-align:center;

	}

	.nav-list a{

		font-size:22px;

	}

    .hero {
        min-height: auto;
        padding: 120px 20px 60px;
    }

    h1 {
        font-size: 42px;
        line-height: 1.1;
    }

    h2 {
        font-size: 32px;
    }

    .date {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .btn {
        width: 100%;
        max-width: 320px;
        margin: 25px auto 0;
    }
	
	.timer{
    grid-template-columns:repeat(2,1fr);
	}

	.timer.item{
		width:100%;
		height:110px;
	}

	.timer span{
		font-size:36px;
	}
		
	.hero-bottom{
		display:flex;
		flex-direction:column;
		gap:35px;
	}

	.hero-image{
		order:-1;
	}

	.hero-image img{
		width:min(85vw,320px);
		height:auto;
		max-width:280px;
		margin:auto;
		display:block;
	}

	.hero-names{
		text-align:center;
	}

	.hero-names .title{
		font-size:44px;
		line-height:1.1;
	}
	
}

.hero h1,
.hero span,
.hero p,
.location p,
.dresscode p,
.rsvp p,
.note,
.section-text{

    color:var(--text-light);

}

.schedule h2,
.location,
.dresscode,
.rsvp{

    color:var(--text);

}